@import "../../variable.css";

.certificates {
  width: 90vw;
  background-color: var(--second-bg-color);
  border-top: 0.2rem dashed var(--second-text-color);
  border-radius: 0 0 6.4rem 6.4rem;
  margin: 0 auto;
  padding-top: 5rem;

  h2 {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
  }

  .carousel {
    z-index: 1;
  }

  .course {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    h3 {
      font-size: 2rem;
      color: var(--main-color);
      text-align: center;
    }

    p {
      font-size: 1.8rem;
      margin: 2rem 0;
      align-self: flex-start;
    }

    img {
      width: 100%;
    }
  }
}

@media (max-width: 995px) {
  .certificates {
    border-radius: 0 0 4rem 4rem;
    padding-top: 4rem;

    .course {
      width: 80%;

      h3 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .certificates {
    h2 {
      font-size: 3.8rem;
      font-weight: 700;
    }
    .course {
      width: 90%;

      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .certificates {
    .course {
    }
  }
}
