@import "../../variable.css";

.contact {
  width: 90vw;
  background-color: var(--second-bg-color);
  border-radius: 6.4rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  h2 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    grid-column: span 2;
  }
  .container {
    width: 100%;
    display: flex;
    row-gap: 4rem;

    .contact-left,
    .contact-right {
      width: 50%;
      margin: 2rem 0;
    }

    .contact-left {
      .contactDetail {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1080px) {
  .contact h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 995px) {
  form {
    padding-left: 5%;
  }
}
@media (max-width: 768px) {
  .contact {
    .container {
      margin: auto;
      flex-direction: column;

      .contact-left,
      .contact-right {
        width: 100%;
        margin: auto;
      }
      .contact-left {
        .contactDetail {
          margin-bottom: -2rem;
        }
      }
    }
  }
  form {
    padding-left: 0;
  }
  input,
  textarea {
    width: 100%;
  }
}
